body{
    margin: 0;
}
#navbar{
    position: fixed;
    top: 0;
background-color: white;
    display: flex;
    justify-content: space-around;
    padding: 10px 129px 20px 200px;
    
}
a{
    text-decoration: none;
    color: #536083;
}.getbtn a{
    color: white;
}
#navbar img{
    height: 58px;
    width: 163px;
}
#navbar p{
    margin: 20px 30px 0 60px;
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #536083;
    font-weight:600;
    cursor: pointer;
  
}
#navbar p:hover{
    text-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}
#navbar button, #global button, .whyus button{
    background-color: #3c50e0;
  color: white;
    padding: 20px 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    letter-spacing: .142857px;
    min-width: 175px;
    cursor: pointer;
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-weight:600;
}
#navbar button:hover, #global button:hover{
    background-color: rgb(77, 77, 245);
}.lineargradient{
  background-color: #e7f0fc;
    max-height: 770px;
}
#global{
    padding: 200px 120px 0px 200px;
}
.global{
    display: flex;

}.global div:nth-child(1){
    width: 42%;
}
.global h1{
width: 540px;
left: 120px;
font-family :
Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
font-size: 52px;
letter-spacing: 2px;
line-height: 70px;
color: #00005C;
}.global p{
    margin: 15px 0;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: .214286px;
    color: #313155;
  
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
}.global img{
    margin: -100px 0 0 150px;
}.smallbox{
    background-color: rgb(255, 251, 251);
    border-radius: 15px;
    width: 550px;
    display: flex;
    margin: 50px 50px 0 500px;
}.smallbox img{
   margin: 0 35px 0 0;
    height: 180px;
    width: 200px;
}.smallbox p{
    color:rgb(4, 8, 15);
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
}.doc{
    margin-top: 200px;
    display: flex;

}.doc div:nth-child(n+2){
    margin: 70px 60px 0 0;
  padding: 30px 20px;
    width: 250px;
}.doctwo div{
    margin: 70px 60px 0 0;
    padding: 30px 20px;
    max-height: 300px;
      width: 250px;
} .docthree div{
    margin: 70px 60px 0 0;
    padding: 30px 20px;
    max-height: 400px;
      width: 250px;
}
.whyus{
    margin: 0 0px 0 140px;
    width: 600px;
}.one p, .two p, .three p, .four p, .five p, .six p{
    color:rgb(83, 96, 131);
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    line-height:20px;
    font-size:15px;
    font-weight:400;
}.one h3, .two h3, .three h3, .four h3,.five h3, .six h3{
    color:#00005C;
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size:28px;
    letter-spacing: 2px;
line-height: 30px;
    font-weight:600;
}
.one:hover{
 border-bottom: 5px solid rgb(214, 95, 115);
 background-color: white;
}.two:hover{
    background-color: white;
    border-bottom: 5px solid rgb(233, 211, 18);
}.three:hover{
    background-color: white;
    border-bottom: 5px solid rgb(233, 211, 18);
}.four:hover{
    background-color: white;
    border-bottom: 5px solid rgb(47, 59, 233);
}.five:hover{
    border-bottom: 5px solid rgb(9, 160, 4);
}.six:hover{
    border-bottom: 5px solid rgb(214, 95, 115);
}
.whyus h6{
    color:rgb(60, 80, 224);
    font-size: 16px;
    line-height:14px;
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
}.whyus h1{
    color:rgb(0, 0, 92);
    font-size:44px;
    line-height:60px;
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    margin:25px 0px;
}.whyus p{
    color:rgb(83, 96, 131);
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    line-height:28px;
    font-size:16px;
    letter-spacing:0.142857px;
    font-weight:400;

}.doctwo, .docthree{
    display: flex;
}.three img, .four img, .five img, .six img{
    height: 50px;
    width: 50px;
}
.doc img{
    height: 50px;
    width: 50px;
}.doctwo > .three{
margin-left: 390px;
}
.docthree > .five{
    margin-left: 750px;
    }
.term{
    background-color: #fff1f2;

}.pinkboxmain{
    display: flex;
    border-radius: 80px;
border-bottom-right-radius: 0px;
border-top-left-radius: 0px;
    padding: 120px 90px 120px 90px;
   margin: 80px 160px 0 160px;
    background-color: #ff5670;
}.pinkbox{
    width: 540px;
}
.pinkbox h4{
    color: rgb(255, 188, 189);
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    line-height:14px;
    font-size: 15px;
letter-spacing: 2px;
    font-weight:bolder;

}.pinkbox h1{
    color: rgb(255, 255, 255);
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    line-height:44px;
    font-size: 32px;
    margin:25px 0px 15px;
}.pinkbox p{
    color:rgb(235, 243, 255);
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    line-height:28px;
    font-size: 17px;
    margin:0px 0px 35px;
}.pinkbox label{
    color:rgb(255, 188, 189);
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    line-height:14px;
    letter-spacing: 2px;
    font-size: 12px;
    margin:0px 135px 40px 0px;
    font-weight: 600;
}.pinkbox select{
    width: 170px;
    margin: 20px 50px 0 0;
    padding-bottom: 8px;
    color: white;
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    line-height:14px;
    letter-spacing: 2px;
    font-size: 18px;
    background-color:#ff5670 ;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
}.pinkbox button{
    margin:30px 0 0 0px;
    color: #3c50e0;
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    background-color: #ffffff;
    border: none;
    font-size: 14px;
    padding: 20px;
    font-weight: bolder;
    border-radius: 8px;
    width: 170px;
    cursor: pointer;
}.pinksidebox{
    margin-left: 130px;
    padding: 40px;
    border-radius: 10px;
    background-color: white;
}.pinksidebox h3{
    color:rgb(0, 0, 92);
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    line-height:16px;
    font-size: 16px;
    text-align: center;
}.pinksidebox h4{
    text-align: center;
    color:rgb(0, 0, 92);
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    line-height:16px;
    font-size: 16px;
}
.pinksidebox span{
    font-weight:bolder;
}.pinksidebox h1{
    color:rgb(60, 80, 224);
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    line-height:42px;
    font-size: 42px;
    font-weight: 600;
    text-align: center;
}.pinksidebox p{
    color:rgb(83, 96, 131);
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    line-height:25px;
    font-size: 15px;
    font-weight: 400;
}.pinksidebox cost{
    color:rgb(0, 0, 92);
    font-weight: bolder;
}.pinksidebox h6{
    color:rgb(83, 96, 131);
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    line-height:25px;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}.pinksidebox button{
    margin:0px 0 0 40px;
    color: #0e26dd;
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    background-color: #ffffff;
    border: 1px solid rgb(231, 225, 225);
    font-size: 14px;
    padding: 20px;
    font-weight: bolder;
    border-radius: 8px;
    width: 170px;
    cursor: pointer;
}.pinksidebox h5{
    color:rgb(51, 51, 51);
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    line-height:15px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;

}.keytech{
    border-bottom-left-radius: 100px;
    background-color: #f0f5fc;
    display: flex;
   /* margin: 80px 160px 0 180px; */
}.keytech img{
    margin: 100px 100px 50px 300px;
}
.keytech div:nth-child(2){
    margin: 100px 0px 50px 0px;
  width: 560px;
}
.keytech h3{
    color:rgb(60, 80, 224);
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    line-height:14px;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 600;
    text-align: start;
    margin:95px 0px 0px;
}.keytech h1{
    color:rgb(0, 0, 92);
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 32px;
    line-height:44px;
    font-weight: 600;
    text-align: start;
    margin:25px 0;
}.keytech p{
    color:rgb(83, 96, 131);
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 16px;
    line-height:28px;
    font-weight: 400;
}
.transform h6{
    margin: 150px 0 0 150px;
    color:rgb(60, 80, 224);
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 15px;
    line-height:14px;
    font-weight: 600;
}.transform p{
    margin-left: 150px;
    color:rgb(0,0,92);
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 32px;
    line-height:44px;
    font-weight: 600;
}.transformbox{
    display: flex;
    margin: 30px 160px 50px 160px;
}.transformbox div{
   width: 300px;
   border-radius: 10px;
   padding: 90px 30px 90px 30px;
   margin-right: 80px;
}.transformbox div:nth-child(1) >i,.transformbox div:nth-child(1){
    color: blue;
    background-color: #EBF3FF;
  
}.transformbox div:nth-child(2),.transformbox div:nth-child(2) >i{
    background-color: #FFF8EB;
    color: orange;
}.transformbox div:nth-child(3),.transformbox div:nth-child(3) >i{
    background-color: #FFF0F0;
    color: rgb(194, 21, 50);
}
.transformbox h3{
    margin-top: 40px;
    color:rgb(0,0,92);
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 20px;
    line-height:28px;
    font-weight: 600;
    letter-spacing: 1px;
}.transformbox p{
    color:rgb(50, 50, 92);
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 16px;
    line-height:22px;

}.howework{
    display: flex;
    margin: 150px 0px 50px 160px;
}.howework div:nth-child(1){
    width: 400px;
    margin-right: 150px;
}.howework div:nth-child(2){
    margin:80px 150px 0 25px;
}
.howework h6{
    margin-top: 40px;
    color:rgb(60, 80, 224);
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 15px;
    line-height:14px;
    font-weight: 700;
    letter-spacing: 2px;
}.howework h1{
    margin-top: 40px;
    color:rgb(0, 0, 92);
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 32px;
    line-height:44px;
    font-weight: 600;

}.howework p{
    margin-top: 40px;
    margin-bottom: 35px;
    color:rgb(83, 96, 131);
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 16px;
    line-height:28px;
    font-weight: 400;
}.howework button{
    background-color: #3c50e0;
    color: white;
      padding: 23px 10px;
      border: none;
      border-radius: 8px;
      font-size: 16px;
      line-height: 16px;
      text-align: center;
      letter-spacing: .142857px;
      min-width: 175px;
      cursor: pointer;
      font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
      font-weight:600;
}.howework h3{
    border-radius: 15px;
    border-bottom: 1px solid rgb(236, 234, 234);
    margin-bottom: 35px;
    color:rgb(83, 96, 131);
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 20px;
    line-height:28px;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding:10px 20px 50px 10px;
    cursor: pointer;
}.howework span{
    margin-right: 25px;
}.howework h3:hover{
    box-shadow: 0px 2px 3px rgb(230, 221, 221);
    color: rgb(0, 0, 92);
}.setup{
    margin: auto;
    width: 520px;
    margin-top: 150px;
}
.setup h5{
    color:rgb(60, 80, 224);
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 15px;
    line-height:14px;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;

}
.setup h1{
  color:rgb(0, 0, 92);
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 32px;
    line-height:44px;
    font-weight: 600;
    text-align: center;
}.setup p{
    color:rgb(83, 96, 131);
      font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
      font-size: 16px;
      line-height:28px;
      font-weight: 600;
      text-align: center;
  }.permanent{
    margin: 100px 160px 0 160px;
    display: flex;
    justify-content: space-around;
}.permanent div{
    border-radius: 25px;
    padding:50px;
    margin: 10px;
}.permanent hr{
  margin:30px 0 20px 0 ;
  color:rgb(205, 210, 226) ;
}
.permanent h3{
    text-transform: uppercase;
    color:rgb(113, 126, 226);
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 13px;
    line-height: 12px;
    letter-spacing: 0.5px;
    font-weight: 600;
    text-align: center;
}.permanent h1{
    color:rgb(0, 0, 92);
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    margin-bottom: 50px;
text-align: center;
}.permanent p{
    color:rgb(83, 96, 131);
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.45px;
    font-weight: 400;

padding:0px 0px 20px 25px;
}.permanent i{
    color: rgb(91, 145, 91);
   margin: 0 15px 0 -25px;
}.btn1{
    width: 270px;
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    background-color:#1f35e0;
    color: white;
    font-size: 16px;
    line-height: 16px;
    margin:30px 0px 0px;
    padding:22px 30px;
    letter-spacing:0.142857px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}.btn1:hover{
    background-color:#394cd6;
}.permanent h4{
    color:rgb(83, 96, 131);
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 1px;
    font-weight: 600;

}.permanent span{
    margin-left: 70px;
    font-weight: bold;
    font-size: 20px;
}
.permanent div:hover{
    background-color: #aeb0bd;
    color: white;
}#knowmorebtn{
    width: 180px;
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    color:#1f35e0;
    background-color: white;
    font-size: 16px;
    line-height: 16px;
    margin:30px 0px 0px 30px;
    padding:22px 30px;
    letter-spacing:0.142857px;
    font-weight: 600;
    border: 1px solid rgb(230, 224, 224);
    border-radius: 8px;
}
#newh{
    color:rgb(0, 0, 85);
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 1px;
    font-weight: 600;
}#docduplicate{
    background-color: #f0f5fc;
    max-height: 1160px;
}.doctwoimg2 img{
    margin-left: -20px;
}#docduplicate .whyus{
    width: 400px;
    margin-right: 200px;
}#docduplicate .whyus>h1{
    font-size: 32px;
    line-height: 44px;
}.testimonials{
    display: flex;
    margin: 100px 200px 100px 250px;
}.testimonials div{
    width: 300px;
    margin: 0 100px 0 0;
}
.testimonials img{
margin-left: 100px;
border-radius: 50%;
    height: 70px;
    width: 70px;
}.testimonials h6{
    color:rgb(0, 0, 92);
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    font-weight: 600;
    text-align:  center;
}.testimonials p{
    color:#536083;
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    text-align:  center;
}.testimonials h5{
    text-align: center;
    color: green;
}.testimonials h3{
    color:#536083;
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    font-weight: 600;
    text-align:  center;
}.ques{
    display: flex;
    /* margin: 100px 200px 100px 250px; */
    margin: 150px 0 0 0;
}.ques h1{
color:#00005c;
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 32px;
    line-height: 44px;
    font-weight: 600;
}.ques h2{
    color:#00005c;
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 22px;
    line-height: 44px;
    
}.ques p{
    color:#536083;
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 17px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 1px;
}.ques div{
    width: 500px;
    margin-left: 250px;
}.ques i{
    color: rgb(82, 82, 226);
    background-color: rgb(240, 239, 239);
    border-radius: 50%;
    padding: 5px 10px;
    margin-right: 20px;
}












.blueebox{
border-radius: 80px;
border-bottom-right-radius: 0px;
    padding: 60px 20px 60px 20px;
   margin: 80px 160px 0 160px;
    background-color: #3c50e0;

}
.blueebox h6{
    margin: 15px 0 30px 0;
    color:rgb(141, 164, 255);
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 12px;
    line-height: 12px;
    letter-spacing:0.5px;
    text-align: center;
}.blueebox h2{
    margin: 15px 0 30px 0;
    color:rgb(255, 255, 255);
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 32px;
    line-height: 44px;
    font-weight: 600;
    text-align: center;
}.blueebox p{
    color:rgb(255, 255, 255);
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing:0.214286px;
    font-weight: 400;
    text-align: center;
}.blueebox button{
    margin:60px 0 0 500px;
    color: #3c50e0;
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    background-color: #ffffff;
    border: none;
    font-size: 16px;
    padding: 20px;
    font-weight: bolder;
    border-radius: 8px;
    width: 170px;
    cursor: pointer;
}.blogs{
    background-color: #f0f5fc;
    padding: 100px 160px 80px 160px;
    display: flex;
    justify-content: space-between;
}.blogs h3{
    margin-top: 120px;
    color:rgb(60, 80, 224);
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 14px;
    line-height: 14px;
    letter-spacing:2px  ;
}.blogs h1{
    width: 300px;
    color:rgb(0,0,92);
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 32px;
    line-height: 44px;
    margin:25px 50px 40px 0;
}.blogs button{
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    color:rgb(60, 80, 224);
    background-color: white;
    font-size: 16px;
    line-height: 16px;
    letter-spacing:0.214286px;
    padding:20px 45px;
    border: 1px solid rgb(228, 220, 220);
    border-radius: 9px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}.blogs button:hover{
    box-shadow:0px 0px 4px 1px rgb(199, 197, 197) ;
}
.imageblogs img{
    width: 350px;
    border-radius: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.blogs h6{
    margin: 15px 0 30px 30px;
    color:rgb(0,0,238);
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 13px;
    line-height: 13px;
    letter-spacing:0.5px;
    text-transform: uppercase;
}.blogs h2{
    width: 300px;
    color:rgb(0,0,92);
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 20px;
    line-height: 30px;
    margin:25px 50px 40px 30px;
}.blogs p{
    color:rgba(189, 189, 194, 0.699);
    letter-spacing: 2px;
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin:25px 50px 0px 30px;
}.blogs h4{
    font-weight: normal;
    color:rgb(1, 1, 153);
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 15px;
    margin:10px 50px 40px 30px;
}
.formblue{
    margin-top: 100px;
   padding: 150px 160px 150px 160px;
    background-color: #394cd6;
    display: flex;
    justify-content: space-around;
}.formblue h2{
    color:white;
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 32px;
    line-height: 44px;
    font-weight: 600;
    margin:0px 0px 15px;
}.formblue p{
    width: 380px;
    color:white;
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}.formblue form{
    width: 700px;
}.formblue span{
    color:rgba(255, 255, 255, 0.6);
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    text-align: start;
}.formblue input{
    color: white;
    font-size: 18px;
    width: 300px;
    margin: 0 10px 50px 0;
    border: none;
    background-color: #394cd6;
    outline: none;
    border-bottom: 1px solid rgba(196, 191, 191, 0.6);

}.formblue button{
    color:rgb(20, 47, 255);
    background-color: #ffffff;
    width: 180px;
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 16px;
    padding:22px 30px;
    letter-spacing:0.142857px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}.formblue span{
    margin-right: 255px;
}.emailspan{
    margin-left: 16px;
}#msgspan{
width: 620px;
}.contactdetails{
    display: flex;
    justify-content: space-between;
    margin: 100px 160px 100px 160px;
}.contactdetails img{
    cursor: pointer;
    height: 58px;
    width: 163px;
}.contactdetails div{
    width: 200px;
}.contactdetails h3{
    color:rgb(4,8,15);
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
}.contactdetails p{
    cursor: pointer;
    color:rgb(83, 96, 131);
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    text-align: left;
    margin: 30px 0 0 0;
    
}.contactdetails i{
    cursor: pointer;
    margin-right: 15px;
}.lastrecruit{
    width: 600px;
    margin: 0px 160px 100px 160px;
    display: flex;
    justify-content: space-between;
}.lastrecruit h5{
    color:rgba(83, 96, 131, 0.8);
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    margin:0px 55px 0px 0px;
}
.lastrecruit p{
    margin:0 30px 100px 0;
    cursor: pointer;
    color:rgb(83, 96, 131);
    font-family:Gilroy-SemiBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    
}




